<div [ngClass]="{'backdrop': open, 'hidden': !open}">
    <div class="anmeldung">
        <mat-card >
            <button class="button-close" (click)="onClose()">X</button>
            <mat-card-header>
                <mat-card-title>Anmeldung</mat-card-title>
            </mat-card-header>
            <form [formGroup]="anmeldeFormGroup" (submit)="onCompleteForm()">
                <mat-card-content class="content">
                    <mat-form-field>
                        <mat-label>Benutzername</mat-label>
                        <input matInput type="text" formControlName="benutzername">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Passwort</mat-label>
                        <input matInput type="password" formControlName="passwort">
                    </mat-form-field>
                    <button mat-stroked-button type="submit">Absenden</button>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>


