::ng-deep mat-card
  margin: 0
  padding: 0px !important


.karte
  width: 20rem
  height: 25rem
  transform: scale(1)
  transition: 0.5s
  margin: 0.5rem 0.5rem 0.5rem 0.5rem
  border-radius: 5px


.karte:hover
  transform: scale(1.05)
  transition: 0.5s
  box-shadow: 8px 5px 8px black
  cursor: pointer


.titel
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%


.inhalt
  text-align: justify


@media(max-width: 1200px)
.karte
  margin: 0.5rem 0 0.5rem 0



@media(max-width: 600px)
.karte
  margin: 0.5rem 0 0.5rem 0





.bild
  height: 13rem
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin: 0
  position: relative
  top: 0
  left: 0


.rahmen
  padding: 1rem

