\:host
  display: flex
  justify-content: center

.benutzer
  font-size: 1.5rem

.willkommen
  grid-area: willkommen
  font-size: 5rem
  margin-bottom: 1rem
  text-align: center
  font-weight: 700
  line-height: initial

.karte
  grid-area: karte

.ticker
  grid-area: ticker

.form
  grid-area: form

.ampel
  grid-area: ampel

main
  margin: 1rem
  display: grid
  grid-template-columns: repeat(4, auto)
  grid-template-rows: repeat(4, auto)
  grid-gap: 1em
  grid-template: "willkommen willkommen willkommen willkommen" "karte0 karte1 karte2 karte3" "karte4 karte5 karte6 karte7" "ticker ticker ticker ampel"

.seitentitel
  color: black
  font-size: 5rem
  font-family: Roboto
  animation: swing-in 6.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both


.trennstrich
  margin-top: 0.5rem
  height: 4px
  width: 0
  background-color: black
  animation: grow 3s both

@keyframes grow
  from
    width: 0
  to
    width: 100%


@keyframes swing-in
  from
    transform: rotateX(90deg)
    transform-origin: bottom
    opacity: 0

  to
    transform: rotateX(0deg)
    transform-origin: bottom
    opacity: 1



::ng-deep mat-card
  margin: 1rem

