<div class="main">
  <div *ngIf="!isToken">
    <button mat-stroked-button (click)="anmeldungOffen = true">Anmelden</button>
    <button mat-stroked-button (click)="registrationOffen = true">Registrieren</button>
  </div>
  <div *ngIf="isToken" class="benutzer">
    Willkommen, {{ benutzername }}!
  </div>
  <main>
    <div class="seitentitel willkommen">
        <span>Sonnenschein Home System
          <br>
            <span class="trennstrich"></span>
        </span>
    </div>
      <ng-container *ngFor="let karte of karten, let i = index">
      <app-karte [bild]="karte.bild" [url]="karte.url" [class]="'karte' + i"></app-karte>
    </ng-container>
    <app-ticker class="ticker"></app-ticker>
    <app-ampel [status]="ampelStatus"></app-ampel>
  </main>
  <router-outlet></router-outlet>
  <app-anmeldung [open]="anmeldungOffen" (closeAnmeldung)="closeAnmeldung()"></app-anmeldung>
  <app-registration [open]="registrationOffen" (closePopup)="closeRegistration()"></app-registration>
</div>
