.content
  display: flex
  flex-direction: column
  padding: 1rem


.registration
  z-index: 100
  width: 15rem


.backdrop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background: rgba(0,0,0,0.5)
  display: flex
  justify-content: center
  align-items: center
  z-index: 10


.hidden
  display: none


.button-close
  position: absolute
  top: 0.1%
  right: 0.1%
  background: none
  border: none
  cursor: pointer


.button-close:focus
  outline: none
