<div [ngClass]="{'backdrop': open, 'hidden': !open}" >
    <mat-card class="registration">
        <button class="button-close" (click)="onClose()">X</button>
        <mat-card-header>
            <mat-card-title>Registration</mat-card-title>
        </mat-card-header>
        <form [formGroup]="registrationForm" (submit)="onCompleteForm()">
            <mat-card-content class="content">
                <mat-form-field>
                    <mat-label>Benutzername</mat-label>
                    <input matInput type="text" formControlName="benutzername">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Passwort</mat-label>
                    <input matInput type="password" formControlName="passwort">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Passwort wiederholen</mat-label>
                    <input matInput type="password" formControlName="passwortWiederholt">
                </mat-form-field>
                <button mat-stroked-button type="submit">Absenden</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>


