.form
  display: flex
  flex-direction: column
  font-size: 1.2rem
  width: 100%

.ticker
  display: flex
  flex-direction: column
  margin: 1rem
  height: 30rem

.nachrichten
  width: auto
  display: flex
  flex-direction: column
  margin-left: 1rem
  overflow-y: auto
  height: 15rem

.nachricht
  margin: 0.5rem
  height: 100%

.titel
  font-size: 1rem
  font-weight: 200
  height: auto

.inhalt
  font-size: 1.5rem
  font-weight: 400
  display: flex
  flex-direction: row
  align-items: center
  line-height: initial
