
<div class="ticker">

  <div class="nachrichten">
    <div *ngFor="let nachricht of nachrichten | sort" class="nachricht">
      <div class="titel">von {{nachricht.absender}} um {{ nachricht.zeit }} Uhr</div>
      <hr>
      <div
        class="system"
        *ngIf="nachricht.absender === 'System'">
        {{ nachricht.nachricht }}
      </div>
      <div
        class="inhalt"
        [ngStyle]="{'color' : nachricht.nachrichtenTyp === 'PRIVATE' ? 'blue' : 'grey'}"
        *ngIf="nachricht.absender !== 'System'"
      >
        {{ nachricht.nachricht }}
      </div>
    </div>
  </div>

  <form [formGroup]="tickerForm" (ngSubmit)="absenden()" class="form">
      <mat-form-field>
        <mat-label>Deine Nachricht</mat-label>
        <input #inputElement matInput type="text" formControlName="nachricht" rows="5">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="tickerForm.invalid">Absenden</button>
  </form>
  <button mat-stroked-button (click)="onConnect()" [disabled]="isConnected">Connect</button>
  <button mat-stroked-button (click)="onDisconnect()" [disabled]="!isConnected">Disconnect</button>
</div>
